
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
  }

html,body{
    display: grid;
    height: 100vh;
    place-items: center;
    background: #be2edd;
}


.main_div{
    width: 380px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
}


.main_div .title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.main_div .socail_icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.socail_icons a{
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(231, 240, 240);
    text-decoration: none;
    transition: all 0.3s linear;
}

.socail_icons span{
    margin-left: 5px;
    font-size: 18px;
}

.socail_icons a:first-child{
    margin-right: 5px;
    background: #2667e7;
}

.socail_icons a:first-child:hover{
    background: #021130;
}

.socail_icons a:last-child{
    margin-right: 5px;
    background: #476fdd;
}

.socail_icons a:last-child:hover{
    background: #021130;
}

form{
    margin-top: 25px;
}

form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;

}

.input_box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 45px;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.input_box input:focus{
    border-color: #be2edd;
}

.input_box .icon{
    position: absolute;
    top: 30%;
    left: 8%;
    color: black;
    transform: rotateY('-50%');
}

form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.option_div .check_box{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.option_div span{
    margin-left: 5px;
    font-size: 16px;
}

.option_div .forget_div a{
    font-size: 16px;
    color: #be2edd;

}

.button input{
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding-left: 0;
    background: #be2edd;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}

.button input:hover{
    background: #4c055c;
}

form .sign_up{
    text-align: center;
    margin-top: 20px;
}

.sign_up a{
    color: #be2edd;
}

form a{
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}